.filter-svg {
  display: none;
}

.nav {
  position: relative;
  list-style-type: none;
  display: flex;
  background-color: var(--rojizo);
  height: 60px;
  /* border-radius: 20px; */
  filter: url("#goo");
}

.nav li a {
  text-decoration: none;
  color: var(--naranja);
  width: 90px;
  height: 100%;
  display: inline-grid;
  place-items: center;
  font-size: 30px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.nav li a .title {
  display: none;
}

/* .nav li a:hover {
  color: var(--bg-body);
} */

.nav li a.nav-item-active {
  color: var(--color-white);
  transform: translateY(-20%);
  font-size: 42px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav li a.nav-item-active .title {
  display: block;
  font-size: 16px;
}

.navIndicator {
  width: 65px;
  height: 86px;
  border-radius: 50%;
  background-color: var(--rojizo);
  position: absolute;
  top: -26px;
  left: 15px;
  z-index: -1;
  transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* cubic-bezier(0.175, 0.885, 0.32, 1.275) */
}

@keyframes zoom {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.2;
  }
  100% {
    width: 1500px;
    height: 1500px;
    opacity: 0;
  }
}
